@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
:root {
    --primary-font: 'Libre Franklin', sans-serif;
    --primary-color-blue: hsl(223, 87%, 63%);
    --secondary-color-pale-blue: hsl(223, 100%, 88%);
    --secondary-color-light-red: hsl(354, 100%, 66%);
    --color-gray: hsl(0, 0%, 59%);
    --color-dark-blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
}
ul {
    list-style: none;
}
.container {
    margin: 0 auto;
    @media screen and (min-width: 37rem){
        max-width: 60vw;
    }
}
.coming-soon {
    padding: 8rem 2rem 4rem  2rem;
    @media screen and (min-width: 54rem) {
        padding: 8rem 0 6rem 0;
    }
}

.header {
    text-align: center; 
    margin-bottom: 6.4rem;  
    h1 {
        color: var(--color-gray);
        font-size: 2.4rem;
        margin-bottom: 0.65rem;
        font-weight: 300;
    } 
    small {
        display: block;
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 2.75rem;
    }
    @media screen and (min-width: 54rem) {
        margin-bottom: 7rem;
        h1 {
            font-size: 4.4rem;
        }
        small {
            font-size: 2rem;
        }
    }
}
strong {
    color: var(--color-dark-blue);
}
.logo {
    margin-bottom: 2.6rem;

    .logo-img {
        height: 1.6rem;
    }
    @media screen and (min-width: 54rem) {
        .logo-img {
            height: 2.4rem;
        }
    }
}
.display-img {
    margin-bottom: 8rem;
    img{
        width: 100%;        
    }
    @media screen and (min-width: 54rem) {
        max-width: 100%;
        margin: 0 auto;
    }

}

.subscribe {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width: 54rem) {
        padding: 0;
        flex-direction: row;
        // align-items: center;
        justify-content: center;
    }
}
.notify-btn, input {
    width: 100%;
    border-radius: 4rem;
    
}
.input-control {
    input{
        display: block;
        padding: 1.25rem 2rem;
        border: 1px solid var(--secondary-color-pale-blue);
        &:focus, &:active {
            outline: none;
        }
        &::placeholder {
            font-size: 1.6rem;
            font-weight: 300;
            color: var(--secondary-color-pale-blue);
        }
        
        @media screen and (min-width: 54rem) {
            height: 4.75rem;
            width: 34rem;
            font-size: 2rem;        
            padding: 0;
            padding-left: 2rem;
        }
    
        @media screen and (min-width: 62rem) {
            height: 5.75rem;
            width: 44rem;
        }
    }
    .error-message {
        display: none;
        font-style: italic;        
        color: var(--secondary-color-light-red);
        font-size: 1.25rem;
        text-align: center;
        padding: 1rem 0;
        @media screen and (min-width: 54rem) {
            font-size: 1.4rem;
            text-align: left;
            padding: 1rem 0 0 4rem;
        }
    }
    
    
}

.input-control.error {
    .error-message {
        display: block;
    }
}


.notify-btn {
    background: var(--primary-color-blue);
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    border: 1px solid var(--primary-color-blue);
    padding: 1.25rem 0;
    box-shadow: 0 0.75rem 1rem var(--secondary-color-pale-blue);
    transition: all 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
    }
    @media screen and (min-width: 54rem) {
        height: 4.75rem;
        padding: 1.25rem 2rem;
        width: 22rem;  
        // height: 6rem;
        // font-size: 1.75rem;
        // width: 22rem;     

    }
    @media screen and (min-width: 62rem) {
        height: 5.75rem;
        font-size: 1.75rem;
        width: 22rem;  
    }
    
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2.4rem;
}
.social-link {
    text-decoration: none;
    background: #fff;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--secondary-color-pale-blue);
    transition: all 0.3s ease;
    i {
        font-size: 1.5rem;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color-blue);
       
    }

    &:hover {
        background: var(--primary-color-blue);
        i {
            color: #fff;
        }
    }
}
footer {
    padding-bottom: 2rem;
}
.copyright {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-gray);
}

